div.ve-demo {
  padding: 22px 24px;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  margin-bottom: 1.2em;
  transition: background-color .5s ease;
}
