/* Colors for the badge component */
:root {
  --vp-c-badge-type-warning: #e7c000;
  --vp-c-badge-type-tip: #42b983;
  --vp-c-badge-type-danger: #da5961;
  --vp-c-badge-type-info: #0170fe;
}

/* Documentation's home gradient background */
html:not(.dark) div.VPHome {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(255,244,253,1) 0%, rgba(213,230,255,1) 100%);
  background: -webkit-linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(255,244,253,1) 0%, rgba(213,230,255,1) 100%);
  background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(255,244,253,1) 0%, rgba(213,230,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#d5e6ff",GradientType=1);
}

/* Makes bolder but with less opacity the text part of custom block boxes */
div.tip p:last-of-type {
  opacity: 0.8;
  font-weight: 500;
}
