div.ve-app div, div.ve-app span, div.ve-app applet, div.ve-app object, div.ve-app iframe,
div.ve-app h1, div.ve-app h2, div.ve-app h3, div.ve-app h4, div.ve-app h5, div.ve-app h6, div.ve-app p, div.ve-app blockquote, div.ve-app pre,
div.ve-app a, div.ve-app abbr, div.ve-app acronym, div.ve-app address, div.ve-app big, div.ve-app cite, div.ve-app code,
div.ve-app del, div.ve-app dfn, div.ve-app em, div.ve-app img, div.ve-app ins, div.ve-app kbd, div.ve-app q, div.ve-app s, div.ve-app samp,
div.ve-app small, div.ve-app strike, div.ve-app strong, div.ve-app sub, div.ve-app sup, div.ve-app tt, div.ve-app var,
div.ve-app b, div.ve-app u, div.ve-app i, div.ve-app center,
div.ve-app dl, div.ve-app dt, div.ve-app dd, div.ve-app ol, div.ve-app ul, div.ve-app li,
div.ve-app fieldset, div.ve-app form, div.ve-app label, div.ve-app legend,
div.ve-app table, div.ve-app caption, div.ve-app tbody, div.ve-app tfoot, div.ve-app thead, div.ve-app tr, div.ve-app th, div.ve-app td,
div.ve-app article, div.ve-app aside, div.ve-app canvas, div.ve-app details, div.ve-app embed,
div.ve-app figure, div.ve-app figcaption, div.ve-app footer, div.ve-app header, div.ve-app hgroup,
div.ve-app menu, div.ve-app nav, div.ve-app output, div.ve-app ruby, div.ve-app section, div.ve-app summary,
div.ve-app time, div.ve-app mark, div.ve-app audio, div.ve-app video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
div.ve-app article, div.ve-app aside, div.ve-app details, div.ve-app figcaption, div.ve-app figure,
div.ve-app footer, div.ve-app header, div.ve-app hgroup, div.ve-app menu, div.ve-app nav, div.ve-app section {
	display: block;
}
div.ve-app ol, div.ve-app ul {
	list-style: none;
}
div.ve-app blockquote, div.ve-app q {
	quotes: none;
}
div.ve-app blockquote:before, div.ve-app blockquote:after,
div.ve-app q:before, div.ve-app q:after {
	content: '';
	content: none;
}
div.ve-app table {
	border-collapse: collapse;
	border-spacing: 0;
}
